body{
  margin: 0;
}
.modalWind{
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0,0,0,.6);
  display: grid;
  justify-content: center;
  align-items: center;
}
.modal__box{
  z-index: 1;
  background-color: white;
  border-radius: 20px;
  max-width: 500px;
  padding: 45px;
  margin: 30px 15px;
}
.modal_header{
  display: flex;
}
.modal_header h2{
  flex-grow: 1;
}
.modal_header button{
  flex-basis: 58px;
}